# Arquivos auxiliares e de log do LaTeX
*.nav
*.snm
*.bbl
*.blg
*.aux
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.gz
*.bib
*.brf
*.zip
*.gz
*.rar
*.tar
*.7z
*.lof
*.frm
*.lot
*.dvi
*.synctex.gz
*.xdv
*.ps
*.eps